* {
  margin: 0;
  padding: 0;
}

body {
  width: 1170px;
  margin: 0 auto;
}

body h1 {
  margin: 20px 0;
}

.new h2 {
  margin: 15px 0;
}

#addition {
  background-color: #eeeeee;
  padding: 3px;
}

#addition:hover {
  opacity: 0.8;
}